.header
   .header-item1 
      img.header__icon-flowers(src="images/icon2.png")
      .header__name Микоцин
      img.header__icon.header__icon_pos(src="images/forma.png")
      .header__title №1 Для избавления от любого типа грибка
      img.header__icon(src="images/forma2.png")
      .header__title Рекомендован дерматологами  
      img.header__icon(src="images/shape.png")
      .header__title 13000+ довольных клиентов за 2018 год
      
   .header-item2
      .header-info
         .header-info__header Комплексное 
               |избавление
               |от грибка —
         .header-info__header1
            .header-info__header2 изнутри
            .header-info__header4 и
            .header-info__header3 снаружи 

         .header-info__item
            img.header-info__img(src="images/2v1.png", alt="") 
            .header-info__descreption Комплекс Микоцин 
               b устраняет зуд, неприятный запах
               |и возвращает эстетичный вид
         .header-info__item
            img.header-info__img(src="images/1.png", alt="") 
            .header-info__descreption 
               strong Таблетки  
               |Микоцин      
               b уничтожают все виды грибка 
               |на ногтях и коже
         .header-info__item
            img.header-info__img(src="images/2.png", alt="") 
            .header-info__descreption2
               strong Гель 
               | Микоцин 
               b восстанавливает кожу 
               |и создает на ней  
               b защитный барьер 
      
      form.header__form
         .header__delivery
            img(src="images/sh.png", alt="").header__delivery-img
            .header__deliver-text Бесплатно
         .header__form-header Успейте заказать cо скидкой 
            br
            strong до 10.09.2018
         img(src="images/ic1.png", alt="").header__form-icon1
         input(type="text" placeholder="Имя").header__form-input.header__form-input_position
         img(src="images/ic2.png", alt="").header__form-icon2
         input(type="text" placeholder="Телефон").header__form-input
        
         button(type="submit").header__button Заказать 
            br
            span со скидкой
         .header__form-text Осталось 
            strong 10 
            |упаковок со скидкой