.main-block
    .main-block__header Почему большинство средств против грибка малоэффективны 
    .main-block__columns
        .main-block__column1
            .main-block__column-header Чудо-средства
            .main-block__column-description Обещают, что избавят от грибка меньше, чем за месяц, хотя это невозможно. 
            .main-block__column-no1 Но
            .main-block__text Ноготь – это роговой слой кожи. 
                | Он не имеет живых клеток. Часть ногтя, которая уже поражена грибком, не может выздороветь 
                | до полного его отрастания. Единственный способ вылечить грибок – 
                b подавлять его распространение все время, пока ноготь не отрастет заново. 
                |Для этого требуется 4-6 месяцев. 
        .main-block__column2
            .main-block__column-header Наружные средства
            .main-block__column-description Способны устранить внешние проявления грибка.
            .main-block__column-description2 (кремы, лаки, пластыри)
            .main-block__column-no Но 
            .main-block__text Очаг заражения находится 
                | под ногтевой пластиной, а наружные средства  не способны его достичь - они действуют только на на верхнем слое ногтя, поэтому 
                b не способны избавить от грибка. 
                | Для повышения их эффективности рекомендуется 
                b спиливать ноготь полностью, 
                | но это больно, некрасиво 
                | и совершенно 
                b не дает гарантий выздоровления. 

        .main-block__column3 
            .main-block__column-header Внутренние средства
            .main-block__column-description Убивают грибковую инфекцию в организме.
            .main-block__column-description2 (таблетки, саше, капли)
            .main-block__column-no Но
            .main-block__text 
                b Могут подействовать только при длительном использовании 
                | (6 - 8 месяцев). За это время внутренние средства в 93%
                | случаев наносят 
                b серьезный ущерб печени, 
                | вызывают сыпь, отеки, диарею, рвоту. К тому же, каждое средство эффективно
                | только против одной группы
                | грибка из 4000 видов.
    .main-block__conculussion
        .main-block__conculussion-text Даже если вы используете наружные и внутренние средства одновременно, это 
            b не гарантирует избавления от грибка: 
            | они могут конфликтовать между собой по составу и блокировать действие
            |друг друга или быть неэффективными против вашего типа грибка.
