.reason-block
    .reason-block__text Как применять 
        strong  Микоцин
    .reason-block-item
        img(src="images/продукт.png", alt="").reason-block__img
        .reason-block__info
            .reason-block__column
                img.reason-block__column-img(src="images/e1.png", alt="")
                .reason-block__column-info   
                    .reason-block__line
                    .reason-block__description Принимать по 1 таблетке утром и вечером
            .reason-block__column
                    img.reason-block__column-img(src="images/e2.png", alt="")
                    .reason-block__column-info   
                        .reason-block__line
                        .reason-block__description Запивать стаканом воды
            .reason-block__column
                    img.reason-block__column-img(src="images/e3.png", alt="")
                    .reason-block__column-info   
                        .reason-block__line
                        .reason-block__description Курс – от 30 дней


