doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Micocin
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='./css/all.css')

  body
    include componets/header/header.pug
    include componets/info-block/info-block.pug
    include componets/main-block/main-block.pug
    include componets/advantages-block/advantages-block.pug
    include componets/reason-block/reason-block.pug