.advantages-block
    img(src="images/icon2.png", alt="").advantages-block__icon2
.advantages-block-item
    .advantages-block__header Почему таблетки  
        strong Микоцин  
        |от грибка так эффективны? 
    .advantages-block__description Другие средства не дают полную защиту от грибковых инфекций и могут быть опасны
    .advantages-block__columns
        .advantages-block__column1
            .advantages-block-column__header Кремы и мази
            .advantages-block-column__description 
                b Не лечат грибок, потому что не проникают в ногтевую пластину. 
                |Только временно избавляют от симптомов инфекций. Могут вызвать сильную аллергию 
                |и раздражения на коже.
        
        .advantages-block__column2
            .advantages-block-column2__header Народные методы
            .advantages-block-column__description Помогают только в редких случаях. 
                b Могут причинить вред коже и ногтям. 
                |Не предотвращают повторные заражения грибком.

        .advantages-block__column3
            .advantages-block-column__header Таблетки
            .advantages-block-column__description 
                b Действуют против всех видов грибков. 
                |Быстро снимают неприятные симптомы и уничтожают инфекцию изнутри вне зависимости от области 
                |заражения грибком. Надолго 
                |защищают от повторных заражений.
    .advantages-block__conculussion
        .advantages-block__text Зачем лечить сложнее, дольше и дороже, если есть    
            strong  Микоцин?